@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Controle para Estacionamentos</h1>
    <br />
    <p><a href="https://localhost:44328/">Sistema Simples para controle de serviços de estacionamento. Web/App ASP.NET Core</a>.</p>
</div>
