@model ESTACIONAMENTO.Models.Manobra

@{
    ViewData["Title"] = "Editar";
}

<h1>@ViewData["Title"]</h1>

<div class="row border1">
    <div class="col-md-4">
        <div>
            <h4>Manobra</h4>
            <hr />
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Carro</label>
                <select asp-for="CarroId" class="form-control" asp-items="ViewBag.Carros"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Manobrista</label>
                <select asp-for="ManobristaId" class="form-control" asp-items="ViewBag.Manobristas"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo Manobra</label>
                <select asp-for="Classificacao" class="form-control" asp-items="ViewBag.Classificacoes"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataManobra" class="control-label"></label>
                <input asp-for="DataManobra" class="form-control" disabled />
                <span asp-validation-for="DataManobra" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Retornar para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
